#item_table tbody tr.highlight td { background:#89cff0;}
#item_table tbody tr.remove_highlight{  
	border-style: solid;
	border-color: red;
}

#hide_me, #item_id
{
  display: none;
}

tr td
{
    border:1px solid black;
}
tbody {
    display:block;
    background: white;
}
table 
{
    width:100%;
}

#item_table th
{
    font-family: "Times New Roman", Times, serif;
    padding-top: 12px;
    width: 15%;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008000;
    color: #EEE8AA;
    text-align: center;
}

#item_table td, #item_table th
{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;

}

#item_table tr:nth-child(even){background-color: #f2f2f2;}
#item_table tr:nth-child(odd){background-color: white;}

#item_table tbody tr:hover {background-color: ddd;}

#Checkin,#back,#Checkout,#cancelReserve,#mod_rental,#cancel, #Checkout_trip, #remove_from_trip, #toggle_removing
{
    background-color: #008000;
    color: white;
    padding: 14px 20px;
    white-space: normal;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    text-align: center;
    color: #EEE8AA;
    box-sizing:content-box;
    word-wrap: break-word;
    white-space: normal;
}

#Checkin:hover, #cancel:hover, #back:hover, #Checkout:hover, #cancelReserve:hover, #mod_rental:hover, #Checkout_trip:hover, #remove_from_trip:hover, #toggle_removing:hover
{
	background-color: #006400;
}

#toggle_removing
{
	float:right;
	margin-right:20px;
}