table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    word-wrap: break-word;
}

th, td {
    text-align: left;
    word-wrap: break-word;
}

#cust_info_table td{
    width: 30%;
}

#cust_info_table {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 55%;
    margin-left: auto;
    margin-right: auto;

}

#cust_info_table td, #cust_info_table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
}

#cust_info_table tr:nth-child(even){background-color: #f2f2f2;}
#cust_info_table tr:nth-child(odd){background-color: white;}

#cust_info_table tr:hover {background-color: #ddd;}

#cust_info_table th {
    font-family: "Times New Roman", Times, serif;
    padding-top: 12px;
    width:20%;
    padding-bottom: 12px;
    text-align: center;
    background-color: #008000;
    color: #EEE8AA;
}


#viewTran,#editCust,#back{
    width: 10%;
    background-color: #008000;
    color: white;
    padding: 5px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: #EEE8AA;
    word-wrap: break-word;
    white-space: normal;
    box-sizing:content-box;
}
