/*This is a comment, use it wisely*/

#button_feildset{
  border:none;
}

#search_fieldset{
  border: none;
  margin-right: 20%;
}

#searchItem{
  box-sizing:content-box;
  word-wrap: break-word;
}

#form_feildset{
  border: none;
}

input[type=text]{
    width:50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    vertical-align:top;
    display: table-cell;
    margin-right: auto;
    margin-left: auto;
}

#search_lable{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  float: left;
}

body{
    text-align: center;
}

#addinventory,#additem,#moreinfo, #excel_download {
    background-color: #008000;
    color: white;
    padding: 14px 20px;
    white-space: normal;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    text-align: center;
    color: #EEE8AA;
    box-sizing:content-box;
    word-wrap: break-word;
    white-space: normal;
}


#addinventory:hover ,#additem:hover ,#moreinfo:hover , #excel_download:hover
{
	background-color: #006400;
}

#table_div{
	width:100%;
	height:100%;
	overflow:hidden;
}

#table_info table , tr td{
    border:1px solid black;
}

#table_info tbody {
    display:block;
    max-height:475px;
    overflow-y:scroll;
	overflow-x:hidden;
    background: white;
}
#table_info thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
#table_info thead {
    width: 99%;
    box-sizing:content-box;
}
#table_info table {
    width:100%;
}

#table_info th{
    font-family: "Times New Roman", Times, serif;
    padding-top: 12px;
    width: 15%;
    padding-bottom: 12px;
    background-color: #008000;
    color: #EEE8AA;
    text-align: center;
}

#search_table th {
    font-family: "Times New Roman", Times, serif;
    padding-top: 12px;
    width: 100%;
    padding-bottom: 12px;
    text-align: center;
	background-color: #008000;
    color: #EEE8AA;
}

#table_info td, #table_info th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
}

#table_info td {
    margin:15%;
}

#search_table td {
	width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
	border:none;
}

#table_info tr:nth-child(even){background-color: #f2f2f2;}
#table_info tr:nth-child(odd){background-color: white;}

#table_info tbody tr:hover {background-color: ddd;}

#table_info tbody tr.highlight td { background: #89cff0; }

#hide_me{
  display: none;
}


#form_div{
  box-sizing:content-box;
  word-wrap: break-word;
  white-space: normal;
  box-sizing:content-box;
}

#search_table{
	width:100%;
	padding-left:auto;
	padding-right:auto;
	margin-left:auto;
	margin-right:auto;
}