input[type=text], select,input[type=date] {
    width:50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

#updateItem,#removeItem,#cancelEdit {
    background-color: #008000;
    color: white;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: #EEE8AA;
    word-wrap: break-word;
    white-space: normal;
    box-sizing:content-box;
}

#updateItem:hover,#removeItem:hover,#cancelEdit:hover {
    background-color: #006400;
}

#edit_inv_form{
  align-items: center;
}

body{
  text-align: center;
}

#sub_buttons{
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#info_lable{
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: left;
  word-wrap: break-word;
}

label{
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  word-wrap: break-word;
  white-space: normal;
}

table {
	width:85%;
	margin-left: auto;
	margin-right: auto;
}

table td{
    border: 1px solid #ddd;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    width:50%;
}

#edit_table tbody td:hover 
{
	background-color: #B0B0B0;
	color: #F5F5F5;
}

#field_front:hover, #field_model:hover, #field_size:hover, #field_stat:hover, #field_class:hover, #field_loc:hover, #field_price:hover, #field_ven:hover, #field_dbw:hover, #field_date:hover, #field_vin:hover, #field_use:hover, #field_notes:hover
{
	background-color: #B0B0B0;
	color: #F5F5F5;
}

select:hover{
  max-height: 11em;
}

#dbw_own:hover, #pub_use:hover{
  height: 2.5em;
}

#ven:hover{
  height: 8.5em;
}
